@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    scroll-behavior: smooth;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    color: #000;
  
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  @media only screen and (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    body {
      font-size: 15px;
    }
  }
  @media only screen and (max-width: 479px) {
    body {
        font-size: 14px;
    }
  }